# .NET
**/bin/
**/obj/
**/.vs/
**/.user
**/Logs/

# Python & ML
**/__pycache__/
**/.venv/
**/dataset/
**/artifacts/*.pt
**/artifacts/*.json
.vscode/
*.pyc
appsettings.Development.json
**/startup-logs/