# =====================
# Visual Studio
# =====================
.vs/
bin/
obj/
*.user
*.suo

# =====================
# ASP.NET runtime
# =====================
Licenta/Logs/
Licenta/Files/
Licenta/publish/

# uploads reale
Licenta/wwwroot/uploads/

# =====================
# Python
# =====================
Python/venv/
Python/__pycache__/
Python/src/__pycache__/
Python/.idea/

# ML
Python/artifacts/
Python/datasets/
*.pkl
*.joblib
*.pt

# env
.env
Python/.env

# =====================
# OS
# =====================
Thumbs.db
.DS_Store
