@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Page("/Index", new { area = "" })"
                  method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-link p-0">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
            <p><a asp-area="" asp-page="/Index">Back to Home</a></p>
        }
    }
</header>
